html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: Inter, sans-serif;
}

.splide__pagination {
    bottom: -20px !important;
}

.splide__pagination__page {
    height: 7px !important;
    width: 7px !important;
    opacity: 0.4 !important;
    margin: 5px !important;
    background: #aaaaaa !important;
}

.splide__pagination__page.is-active {
    background: #353535 !important;
}

.splide__arrow {
    background: #ccc !important;
}