---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to PRAGNOMOS.">
	<Showcase />
	<div style="height: 1000px;"></div>
</Layout>
