---
import Faqs from "../components/Faqs.astro";
import News from "../components/News.astro";
import Showcase from "../components/Showcase.astro";
import Teams from "../components/Teams.astro";
import WhatWeDo from "../components/WhatWeDo.astro";
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/AboutUs.astro"
import Archives from "../components/Archives.astro";
---

<Layout title="Welcome to PRAGNOMOS.">
	<Showcase />
	<div id="AboutUs"></div>
	<AboutUs />
	<WhatWeDo />
	<Teams />
	<div id="News"></div>
	<News />
	<div id="Archives"></div>
	<Archives />
	<Faqs />
</Layout>
