<div class="max-w-screen-xl mx-auto px-4 py-14">
	<h3 class="font-ofelia font-medium text-gray-900 text-3xl md:text-5xl mb-10">
		Frequently Asked Questions
	</h3>

	<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>What is Flowbite?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-300"
			>
				<div class="p-5">
					<p class="text-gray-500">
						Flowbite is an open-source library of interactive components built on
						top of Tailwind CSS including buttons, dropdowns, modals, navbars, and
						more.
					</p>
				</div>
			</div>
		</div>
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>What is Flowbite?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-300"
			>
				<div class="p-5">
					<p class="text-gray-500">
						Flowbite is an open-source library of interactive components built on
						top of Tailwind CSS including buttons, dropdowns, modals, navbars, and
						more.
					</p>
				</div>
			</div>
		</div>
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>What is Flowbite?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-300"
			>
				<div class="p-5">
					<p class="text-gray-500">
						Flowbite is an open-source library of interactive components built on
						top of Tailwind CSS including buttons, dropdowns, modals, navbars, and
						more.
					</p>
				</div>
			</div>
		</div>
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>What is Flowbite?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-300"
			>
				<div class="p-5">
					<p class="text-gray-500">
						Flowbite is an open-source library of interactive components built on
						top of Tailwind CSS including buttons, dropdowns, modals, navbars, and
						more.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const questions = document.querySelectorAll<HTMLButtonElement>(".question button");
	questions.forEach((q) => {
		q.addEventListener("click", (e) => {
			q.parentElement.classList.toggle("is-open");
		});
	});
</script>
