<div class="max-w-screen-xl mx-auto px-4 py-14">
	<h3 class="font-montserrat text-center font-bold text-black text-4xl md:text-5xl mb-10">
		Frequently Asked Questions
	</h3>

	<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-black border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>What does Pragnomos mean ?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition duration-400"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-400"
			>
				<div class="p-5">
					<p class="text-gray-500">
						PRAGNOMOS, derived from the Greek words for "Reality" and "Intelligence," embodies
						the club's focus on the fusion of these aspects, whether real or virtual, natural or artificial.
						Inspired by ancient Greek achievements, we aim to inject quality and precision into
						everything we do. With a nod to Moroccan identity influenced by Greece, PRAGNOMOS
						represents an experience rather than just a club.
					</p>
				</div>
			</div>
		</div>
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-black border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>When was the club founded?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition duration-400"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-400"
			>
				<div class="p-5">
					<p class="text-gray-500">
						The club was founded by AI&VR master students on April 2023.
					</p>
				</div>
			</div>
		</div>
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-black border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>How can the club help me in my career or studies?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition duration-400"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-400"
			>
				<div class="p-5">
					<p class="text-gray-500">
						Being a part of the club can offer several benefits to your career or studies. You can gain
						practical experience through hands-on projects, expand your network by connecting with
						professionals in the field, stay updated on industry trends, and enhance your knowledge
						through workshops and seminars.
					</p>
				</div>
			</div>
		</div>
		<div class="group h-fit border border-gray-200 rounded-xl overflow-hidden question">
			<button
				type="button"
				class="flex items-center justify-between w-full p-5 font-medium text-left text-black border-b-0 group-[.is-open]:border-b group-[.is-open]:bg-gray-100 hover:bg-gray-100"
			>
				<span>How can I participate in the activities proposed by the club?</span>
				<svg
					class="w-6 h-6 group-[.is-open]:rotate-180 shrink-0 transition duration-400"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path></svg
				>
			</button>
			<div
				class="h-full max-h-0 group-[.is-open]:max-h-[500px] transition-all duration-400"
			>
				<div class="p-5">
					<p class="text-gray-500">
						We regularly announce project opportunities and initiatives through our social media
						accounts
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const questions = document.querySelectorAll<HTMLButtonElement>(".question button");
	questions.forEach((q) => {
		q.addEventListener("click", (e) => {
			q.parentElement.classList.toggle("is-open");
		});
	});
</script>
