<div class="w-full h-screen flex items-center justify-center">
	<div>
		<h1
			class="text-black font-montserrat text-center font-extrabold text-4xl sm:text-5xl md:text-7xl mb-6 leading-tight"
		>
			An <span class="text-stone-400">&lt;</span>experience<span class="text-stone-400">&gt;</span>,<br>rather than a club<b>.</b>
		</h1>
		<p class="font-inter text-gray-500 text-center hidden sm:block">
			Join PRAGNOMOS and immerse yourself in the exciting world of Artificial Intelligence <br
			/>
			and Virtual Reality.
		</p>
		<p class="font-inter text-black text-center text-xs block sm:hidden">
			Join PRAGNOMOS and immerse yourself in the exciting world of Artificial Intelligence
		</p>

		<div class="absolute left-1/2 bottom-12 -translate-x-1/2 animate-pulse duration-[2000] cursor-pointer bg-stone-300 rounded-full p-2">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			  </svg>
			  
		</div>
	</div>
</div>
