<div class="max-w-screen-xl mx-auto px-4 py-10">
	<h3 class="font-ofelia font-medium text-gray-900 text-3xl md:text-5xl mb-10">Teams</h3>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 bg-red-10">
		<div
			class="w-full lg:[writing-mode:vertical-lr] font-bold text-xl text-gray-900 place-self-center"
		>
			Digitalization Division
		</div>
		<div>
			<img
				src="https://images.pexels.com/photos/13012666/pexels-photo-13012666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
				alt=""
				class="aspect-square w-full lg:w-4/5 ml-auto object-cover rounded-xl"
				loading="lazy"
			/>
		</div>
		<div>
			<img
				src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
				alt=""
				class="aspect-square w-full lg:w-4/5 ml-auto object-cover rounded-xl"
				loading="lazy"
			/>
		</div>
		<div
			class="w-full lg:[writing-mode:vertical-lr] font-bold text-xl text-gray-900 place-self-center"
		>
			Coordination Division
		</div>
		<div>
			<img
				src="https://images.pexels.com/photos/2098848/pexels-photo-2098848.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
				alt=""
				class="aspect-square w-full lg:w-4/5 ml-auto object-cover rounded-xl"
				loading="lazy"
			/>
		</div>
		<div>
			<img
				src="https://images.pexels.com/photos/2531552/pexels-photo-2531552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
				alt=""
				class="aspect-square w-full lg:w-4/5 ml-auto object-cover rounded-xl"
				loading="lazy"
			/>
		</div>
		<div
			class="w-full lg:[writing-mode:vertical-lr] font-bold text-xl text-gray-900 place-self-center"
		>
			Exterior Affairs
		</div>
		<div>
			<img
				src="https://images.pexels.com/photos/14048426/pexels-photo-14048426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
				alt=""
				class="aspect-square w-full lg:w-4/5 ml-auto object-cover rounded-xl"
				loading="lazy"
			/>
		</div>
	</div>
</div>
