---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/base.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=josefin:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>



    </style>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2QSQ13RMS2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2QSQ13RMS2');
  </script>

  <body class="font-montserrat">
    <!-- <canvas class="background absolute top-0 left-0 z-[-100] h-screen w-screen"></canvas> -->
    <div class="cursor" id="cursor"></div>
    <Navbar />
    <slot />
    <Footer />
    <script src="https://unpkg.com/flowbite@1.4.4/dist/flowbite.js"></script>
    <script
      isglobal
      src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
    ></script>
    <script
      isglobal
      src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"
    ></script>
    <script>
      window.onload = function () {
        Particles.init({
          selector: ".background",
          maxParticles: 100,
          minDistance: 150,
          connectParticles: true,
          sizeVariations: 3,
        });
      };


      // add event listener
      document.querySelectorAll(".black-div").forEach((item) => {
        item.addEventListener("mouseover", () => {
          cursor.style.borderColor = "white";
        });
        item.addEventListener("mouseout", () => {
          cursor.style.borderColor = "black";
        });
      });
    </script>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
    ></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.dots.min.js"
    ></script>
    <script>
      VANTA.DOTS({
        el: "#showcase",
        mouseControls: true,
        touchControls: true,
        gyroControls: true,
        minHeight: 900,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        color: 0xffffff,
        color2: 0xffffff,
        backgroundColor: 0x0,
        size: 3.3,
        spacing: 37.0,
        showLines: false,
      });
    </script>
  </body>
</html>
